body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #ccc;
}

.login-page {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.login-image {
    flex: 1;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Specific Images for each Page */
.image-login {
    background-image: url('login.jpg');
}

.image-register {
    background-image: url('register.jpg');
}

.image-reset {
    background-image: url('reset.jpg');
}

.image-change {
    background-image: url('change.jpg');
}

.login-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

.login-box {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background: #222;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    color: #ccc;
    text-align: center;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 80%;
    padding: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #1e1313;
    color: white;
}

input[type="submit"] {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: #f0ad4e;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ec971f;
}

a {
    display: block;
    margin-top: 30px;
    color: #f0ad4e;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 768px) {
    .login-page {
        flex-direction: column;
    }

    .login-image, .login-container {
        width: 100%;
        height: 50vh;
    }
}
