span {
  color: #fff;
}

.darkBdy {
  background-color: lightslategrey;
}

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  user-select: none;
}

.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -4px;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .checkmark:after {
    transition: none;
  }
}

.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2);
}

.checkbox-primary {
  color: #e3b04b;
}

.checkbox-primary input:checked ~ .checkmark:after {
  color: #e3b04b;
}

.btn {
  cursor: pointer;
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background: #e3b04b !important;
  border: 1px solid #e3b04b !important;
  color: #fff !important;
}

.btn.btn-primary:hover {
  border: 1px solid #e3b04b;
  background: transparent;
  color: #e3b04b;
}

.btn.btn-primary.btn-outline-primary {
  border: 1px solid #e3b04b;
  background: transparent;
  color: #e3b04b;
}

.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #e3b04b;
  color: #fff;
}
