{% extends "base.html" %}

{% block title %}Change Password - The Richverse{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/userpage.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
{% from "user/_formhelpers.html" import render_field %}

<section class="ftco-section">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-10">
            <div class="wrap d-md-flex auth-container">
                {% include "user/_auth_intro_panel.html" %}
                <div class="login-wrap p-4 p-md-5" style="background-color: #1e1e2f; border-top-right-radius: 10px; border-bottom-right-radius: 10px; color: #fff;">
                    <h3 class="mb-4">Change Password</h3>
                    <form action="/changepassword" method="post" class="signin-form">
                        {{ form.csrf_token }}
                        {{ render_field(form.Email) }}
                        {{ render_field(form.UserToken) }}
                        {{ render_field(form.Password) }}
                        {{ render_field(form.ConfirmPassword) }}
                        <input type="submit" value="Change Password" class="form-control btn btn-success">

                        {% with errors = get_flashed_messages(category_filter=["error"]) %}
                        {% if errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: 12px;">
                            {%- for msg in errors %}
                                {{ msg }}
                            {% endfor -%}
                        </div>
                        {% endif %}
                        {% endwith %}

                        {% with errors = get_flashed_messages(category_filter=["success"]) %}
                        {% if errors %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="font-size: 12px;">
                            {%- for msg in errors %}
                                {{ msg }}
                            {% endfor -%}
                        </div>
                        {% endif %}
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
                                    {% endif %}
                                {% endwith %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
