{% extends "base.html" %} {% block title %}Login - The Richverse{% endblock %}
{% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/userpage.css') }}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&display=swap"
  rel="stylesheet"
/>
{% endblock %} {% block navbar %}{% endblock %} {% block content %} {% from
"user/_formhelpers.html" import render_field %}

<section class="ftco-section">
  <div class="wrap">
    {% include "user/_auth_intro_panel.html" %}
    <div class="login-wrap">
      <h3>Sign In</h3>
      <form
        action="{{ url_for('user.login') }}"
        method="post"
        class="signin-form"
      >
        {{ form.csrf_token }} {{ render_field(form.Email) }} {{
        render_field(form.Password) }}
        <input type="submit" value="Login" class="form-control btn" />

        {% with errors = get_flashed_messages(category_filter=["error"]) %} {%
        if errors %}
        <div class="alert alert-danger">
          {%- for msg in errors %}{{ msg }}{% endfor -%}
        </div>
        {% endif %} {% endwith %} {% with success =
        get_flashed_messages(category_filter=["success"]) %} {% if success %}
        <div class="alert alert-success">
          {%- for msg in success %}{{ msg }}{% endfor -%}
        </div>
        {% endif %} {% endwith %}
      </form>

      <p class="text-center mt-3">
        Not a member? <a href="{{ url_for('user.register') }}">Sign Up</a>
      </p>
      <p class="text-center">
        <a href="{{ url_for('user.resetrequest') }}">Forgot Password?</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
